[Desktop Entry]
Name=Chic Secret
Comment=A password manager made in Flutter
Exec=chic_secret 
Icon=${SNAP}/meta/gui/chic_secret.png
Terminal=false
Type=Application
Categories=Tools;